* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

canvas#gc {
    border:5px solid #1086e8;
    border-radius:1.25rem;
    width: 50rem; 
    height: 37.5rem;
}