* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#game-container {
    position: relative;
}

h2 {
    font-size: 1.4rem;
    margin: .2rem auto;
}

#reset {
    font-size: 1rem;
    letter-spacing: 0;
    align-self: center;
    cursor: pointer;
    user-select: none;
}

h6.how-to {
    font-size: 2rem !important;
    letter-spacing: 1rem;
    position: absolute;
    top: 2rem;
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
    transition: hide .4s ease-in-out;
}

.invisible {
    visibility: hidden;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

canvas#gc {
    border:5px solid #1086e8;
    border-radius:1.25rem;
    width: 50rem; 
    height: 37.5rem;
}